<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uestc.shortlink.project.dao.mapper.ShortLinkMapper">

    <select id="listGroupShortLinkCount" resultType="com.uestc.shortlink.project.dto.resp.ShortLinkGroupCountResp">
        SELECT gid, COUNT(*) AS shortLinkCount
        FROM t_link
        WHERE gid IN
        <foreach collection="gidList" item="gid" open="(" separator="," close=")">
            #{gid}
        </foreach>
        AND enable_status = 1
        AND del_flag = 0
        GROUP BY gid
    </select>

    <select id="pageLink" resultType="com.uestc.shortlink.project.dao.entity.ShortLinkDO">
        SELECT t.*,
        COALESCE(s.todayPv, 0) AS todayPv,
        COALESCE(s.todayUv, 0) AS todayUv,
        COALESCE(s.todayUip, 0) AS todayUip
        FROM t_link t
        LEFT JOIN (
            SELECT gid,
                   full_short_url,
                   SUM(pv_cnt) AS todayPv,
                   SUM(uv_cnt) AS todayUv,
                   SUM(uip_cnt) AS todayUip
            FROM t_link_access_daily_stats
            WHERE stat_date = CURDATE()
              AND del_flag = 0
            GROUP BY gid, full_short_url
        ) s ON t.gid = s.gid
        AND t.full_short_url = s.full_short_url
        WHERE t.gid = #{gid}
        AND t.enable_status = 1
        AND t.del_flag = 0
        <choose>
            <when test="orderTag == 'todayPv'">
                ORDER BY todayPv DESC
            </when>
            <when test="orderTag == 'todayUv'">
                ORDER BY todayUv DESC
            </when>
            <when test="orderTag == 'todayUip'">
                ORDER BY todayUip DESC
            </when>
            <when test="orderTag == 'totalPv'">
                ORDER BY t.total_pv DESC
            </when>
            <when test="orderTag == 'totalUv'">
                ORDER BY t.total_uv DESC
            </when>
            <when test="orderTag == 'totalUip'">
                ORDER BY t.total_uip DESC
            </when>
            <otherwise>
                ORDER BY t.create_time DESC
            </otherwise>
        </choose>
    </select>

    <update id="incrementStats">
        UPDATE t_link
        SET total_pv = total_pv + #{totalPv},
            total_uv = total_uv + #{totalUv},
            total_uip = total_uip + #{totalUip}
        WHERE gid = #{gid}
          AND full_short_url = #{fullShortUrl}
    </update>

</mapper>
